.listingIndex{
    display: inline-block;
    margin-left: 10px;
    width: 250px;
    margin-bottom: 20px;
}

.ta-button{
    border-color: #078171;
    border-radius: 3px;
    background-color: #078171;
    color: #fff;
    margin-bottom: 20px;
}

.flickr_pagination {
    margin-bottom: -20px;
    text-align: center;
    padding: 0.3em;
    clear:both;
    cursor: default; }
    .flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
      padding: 0.2em 0.5em; }
    .flickr_pagination .disabled {
      color: #aaaaaa; }
    .flickr_pagination .current {
      font-style: normal;
      font-weight: bold;
      color: #078171; }
    .flickr_pagination a {
      border: 1px solid #dddddd;
      color: #078171;
      text-decoration: none; }
      .flickr_pagination a:hover, .flickr_pagination a:focus {
        border-color: white;
        background: #078171;
        color: white; }
    .flickr_pagination .page_info {
      color: #aaaaaa;
      padding-top: 0.8em; }
    .flickr_pagination .previous_page, .flickr_pagination .next_page {
      border-width: 2px; }
    .flickr_pagination .previous_page {
      margin-right: 1em; }
    .flickr_pagination .next_page {
      margin-left: 1em; }